#submit:hover
{
    background-color:brown;
    color: white;
}

input
{
    background-color: antiquewhite;
    width:auto;
    border: 10%;
    border-color: brown;
}
body
{
   font-size: medium;
   color:white;
   background-image: url('images/background2.jpg');
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Courier, monospace;
}
table
{
    color: white;
    background-image: url('images/Logo_Background.jpg');
    width: 100%; 
    height: 100%;
    background-repeat: no-repeat;
}
p
{
    background-color: azure;
}
#maindiv
{
 width: 100%;
 height: 100%;
}

#logodiv
{ 
 background-repeat: space;
 width: 50%;
 height: 100%;
 background-image: url('images/Logo_Background.jpg');
 float: left;
 background-repeat: no-repeat;
 background-size: cover;
 

}
#homesidebar
{
 background-color:transparent;
 width: 100%; 
 height: 10%;

}

#navbar
{
    background-color: transparent;
    width: auto;
    height: 5%;
    border: 1px;
   
}
#homesidebar
{
    transition: top 0.3s;
    display: block;
    position: fixed;
    animation: spin 2s linear alternate;
    
}
@keyframes spin 
{
    0% { opacity: 0%; }
    100% {  opacity: 90%;}
}
#navbar:hover
{
    
    color: white;
    text-decoration: underline;
    
    
}
li
{
    display: inline;
    width: 100%;
    height: auto;
    white-space: initial;
}
ul
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  white-space: initial;
}
#newssection
{
    width: 50%; 
    height: 100%;    
    float: right;
    background-image: url('images/blog-word-cloud1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    mix-blend-mode: screen;
}
#newssection:hover
{
    width: 50%; 
    height: 100%;    
    float: right;
    background-color: blueviolet;

}